* text=auto
*.sh text eol=lf
*.py text eol=lf
*.service text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
build-usb/** text eol=lf
mfarm/worker/** text eol=lf
*.tar.gz binary
*.tar.xz binary
*.img binary
*.img.xz binary
mfarm/worker/fan_controller_cli binary
